* {
    text-decoration: underline;
    margin: 0px;
    padding: 2px;
}

body {
    margin: 10px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;    
}

.header {
    font-family: 'Open Sans',sans-serif;
    padding: 10px;
    text-align: 80;
    background: #3B9AE1;
    color: #FFFFFF;
    font-size: 30px;
        
}

.menu {
    float: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #FFFFFF;
  }

.nav h1 {
    width: auto;
    margin: 0px;
    padding: 0px;
}

.nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
} 

.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;  
}

.valo {
    display: flex;
    justify-content: center;
}

.iklan {
    width: 100px;
    height: 3px;
    display: flex;
    justify-content: center;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

.card {
    margin: 50px;
    
}